<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gallery">
    <insert id="insert" parameterType="galleryDto">
        INSERT INTO board_gallery
            (num, writer, caption, saveFileName, regdate)
        VALUES(board_gallery_seq.NEXTVAL, #{writer}, #{caption}, #{saveFileName}, SYSDATE)
    </insert>

    <select id="getList" resultType="galleryDto">
        select *
        from board_gallery
        order by num desc
    </select>

</mapper>
