<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="test">
    <sql id="search">
        <choose>
            <when test="condition == 'title_content'">
                WHERE title LIKE '%'||#{keyword}||'%' OR content LIKE '%'||#{keyword}||'%'
            </when>
            <when test="condition == 'title'">
                WHERE title LIKE '%'||#{keyword}||'%'
            </when>
            <when test="condition == 'writer'">
                WHERE writer LIKE '%'||#{keyword}||'%'
            </when>
        </choose>
    </sql>

    <sql id="column">
        num
        ,writer,title,content,savefilename, TO_CHAR(regdate, 'YYYY.MM.DD HH24:MI') AS regdate
    </sql>

    <insert id="insert" parameterType="testDto">
        INSERT INTO baord_test
            (num, writer, title, content, savefilename, regdate)
        VALUES (test_seq.NEXTVAL, #{writer}, #{title}, #{content}, #{saveFileName}, SYSDATE)
    </insert>

    <select id="getList" parameterType="testDto" resultType="testDto">
        SELECT *
        FROM
        (SELECT result1.*, ROWNUM AS rnum
        FROM
        (SELECT
        <include refid="column"/>
        FROM baord_test
        <include refid="search"/>
        ORDER BY num DESC) result1)
        WHERE rnum BETWEEN #{startRowNum} AND #{endRowNum}
    </select>

    <delete id="delete" parameterType="int">
        delete
        from baord_test
        where num = #{num}
    </delete>
    <select id="getDto" resultType="testDto" parameterType="int">
        SELECT *
        from baord_test
        where num = #{num}
    </select>

    <select id="getCount" resultType="int" parameterType="testDto">
        SELECT NVL(MAX(ROWNUM), 0)
        FROM baord_test
        <include refid="search"/>
    </select>

    <update id="update" parameterType="testDto">
        update baord_test
        set title=#{title},content=#{content}
        <if test="saveFileName != null">,saveFileName=#{saveFileName}</if>
        where num=#{num}
    </update>
</mapper>
